API_URL="https://beeseek-backend-production.up.railway.app"
CLOUDINARY_API_KEY="168464787846194"
CLOUDINARY_API_SECRET="aGOPd2j5DqAos4-hDKJmjQqxyl4"
CLOUDINARY_CLOUD_NAME="dwkf3ugef"
DATABASE_URL="${{Postgres.DATABASE_URL}}"
DB_SYNCHRONIZE="true"
EMAIL_USER="info@beeseek.site"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@beeseek-5e898.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDLpTqWYp3DDRcM
tzB767d8NmS4oY/5IvpTO/P0bDPdXikJelNqju0gMW+DxBVJZAqLV6PXsNpQlii7
YXhLx0sOGJbgfH9dz6z4ZQPfoGyE9DLzxrfVRb5dBxLvqirNj/skYUUuEc1Y5laX
Wnf0uSHUC1LDqlD2o5cdh9Ii08X9/MHyjHFIhx0+C8A9vyO+2BAWBk7HhAkX8AU/
JC4fWp/h/S2bA7SByqEMgyqXWxljVINtW35TuMwySoqn74jTy5fVlvVUd4G54oeA
q8mS4l2QVIttAeApwrxNk9kYFWe0G/JlH4z1ggOwStEWlw0Fuc4lI9sL8FuE9n/D
rlc8uz41AgMBAAECggEAEoDfF6p6uK4QDdb4SA41JAtiL/d4GDRCJ/1uz2LkfITx
eBu+CBTX/WCYiBGxOHOnVJ1gNPksAP3/0fTLhCEl0/BOhzOws/KqfgBZr4BJU/RH
S+ieq/l0EEpUAWRGEtr2AAp5iXPTI3R8YjC1bQ5EQVrNCJvJUvuuv59na8QvvYHI
CsO95HXLY+xzpFULeeroqcTyDeBof1N4xPnB4ZAN1NQpzOHXHQgAYmDHPgpd5eDA
Y6ONXKCTc+7PXHvowOKSKvL0LmeWvOjk3KZYEYrMwfg6N4CDIyEtOp5qSfU6qtpZ
o13/VXLobafJS0JyXInSV7d7fjikc0U2zm6vOZQLyQKBgQDuTCvZtiMUKgssttDN
YlQHglmJwLwSQFar/NM2nMt38T3zqrnA4+jIcWRIVFlFih/WIwke7jDWcIsu9VPx
1JSm4rcRb+/fTPaiSzSUz8EnyYxCKkb2Zf9cFYPdZdRyJU403nkYiHuSdfx2Vm7w
921MfGgnLU6yLfWEcsGJr0ZmDQKBgQDaxg9lo9ZHiNY3eKvnNcZwsXD/lnVR1USh\\iiylTDMz+5+4HWxa82sb4ZCh7wUN82x9NbBMBYC77EaSyeLvClXWsPFcQzSlKoxx
ov9hkEm0kQidMMWGoeI01tfUjv1chHlvgnlpxvZj9lxJJNS7+4wFF2N3LePe7odm
cW/wnHAWyQKBgF/qgv/3ovj7z1GpKDRzLpVzLy0WSd0izoAdnLpvtCpMDP6mKmxs
kAcWNSIz6VbnONdNdN9hSoEV/b/h+W7ufQMLYFqBbtC3vtImaTy4vuuP4YfEUpnd
BkL/WftkgHWNdIQtRBrO3MZf/UV4luEhBnpx3M5gGzv26crtEd+kkDaFAoGAJ0AN
lyCz2xWzyTP/M3Y0aheLvG9UESCANbNCm012ikcEutWckRzHBLONbWAiugQIXNZ7
EMiT9iNH7iIGcviZufD4/KKaGV/u3pxt0SU/9ANpVjpf1e3JVc2N33bgAe9KkjUI
b2/g2MJkgEL5X9iboHY3xDQZg++rnzeO685FVfECgYEAjCNxY6T4Z4S6XGmoSMVF
NA3309NOrApT2T3NB8o092aG61kbPDAVmvlu8QbQWUVtnqKPWVGqUKaroi8M/qks
O4gSNuLr0HtQc7QpT7SiI1EwXhDtU8wwZHArNg31RINb7+A2DCXk2eT7G8N1HJ0y
/nrhahfLsahbJEBOZKJW414=
-----END PRIVATE KEY-----
"
FIREBASE_PROJECT_ID="beeseek-5e898"
FROM_EMAIL="no-reply@beeseek.site"
GOOGLE_MAPS_API_KEY="AIzaSyC5IFMAUyuksMAoaxZP2xanpd2bg-Fx8fY"
GOOGLE_PLACES_API_KEY="AIzaSyC5IFMAUyuksMAoaxZP2xanpd2bg-Fx8fY"
JWT_EXPIRES_IN="30d"
JWT_REFRESH_SECRET="CHANGE_ME_DIFFERENT_STRING"
JWT_SECRET="zF3V3DHFTBMaljwmpxEEEyKIn2DqPLKo7r+NdUyQyvg+woX0nAmb7eq6Fc/XIDw5fFlqEP6fGrjq/p8qUvTuiw=="
MONNIFY_API_KEY="MK_PROD_RHPDTQ59RL"
MONNIFY_CONTRACT_CODE="905817406290"
MONNIFY_SANDBOX_MODE="false"
MONNIFY_SECRET_KEY="5K3RLHNPS5C3ALPF889FJ7KL127G0WQG"
MONNIFY_SOURCE_ACCOUNT="8065933542"
NODE_ENV="production"
PORT="3009"
QUEEN_BEE_PASSWORD="QueenBee@2026"
REDIS_URL="${{Redis.REDIS_URL}}"
REFRESH_TOKEN_EXPIRES_IN="365d"
RESEND_API_KEY="re_Zx7zzggN_88SXXj52PmFqaNwXqkLRpKka"
TERMII_API_KEY="TLMfovJwSEoDyVnPtOJnyeMmkuuclncveyFycWHvAJEMBFdIniQoTEmpbvylcR"
TERMII_BASE_URL="https://v3.api.termii.com"
TERMII_SENDER_ID="BeeSeek"